var config = {};

config.slack = {};
config.slack.api_token = "xoxb-12345678-1234";
config.slack.channel_err = 'messybot_err'
config.slack.channel_main = 'messybot'

config.isy = {};
config.isy.protocol = "http"
config.isy.addr = "123.123.123.123"
config.isy.port = "80"
config.isy.user = "username"
config.isy.pass = "password"

config.webserver = {};
config.webserver.port = 3000;

module.exports = config;

